@media only screen and (max-width : 800px) {
    /* Navbar */
    .header {
        display: flex;
        flex-direction: column;
        padding: 10 0 0 0;
    }
    .navbar-item {
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
    .navbar-logo img{
        display: flex;
        padding: 0px;
        justify-content: center;
        height: 5em;
    }
    .navbar a {
        font-size: 2.1rem;
        display: flex;
        justify-content: center;
    }
    /* index */
    .p-main{
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        padding-bottom: 100px;
        padding-left: 0px;
    }
    
    .p-main p {
        text-align: center;
        color:white;
        font-size: 5vw;
        height: 380px;
        width: 580px;
        display: flex;
        position: static;
    
    }
    .section-1 h1 {
        display: none;
    }
    .section-1 h2 {
        display: flex;
        justify-content: center;
        font-size: 10vw;
        color: #FC4E03;
        padding-top: 7vh;
    }
    .p-main img {
        display: none;
    }

    .spotify-widget {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width:40%;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .spotify-widget {
        display: none;
    }

    .spotify-widget-mobile {
        display: flex ;
        justify-content: center;
        flex-direction: column;
        padding: 60px 0 0 100px
    }

    .spotify-widget-mobile iframe {
        padding-top: 20px;
    }
    /* footer */
    .aser {
        display: flex;
        height: 60px;
        width: auto;
    
    }
    .icons-social-container p{
        display: none;
    }
    .social-ico {
        max-width: 2px;
    }
    .footer-m p {
        font-size: 12px;
    }

    /* Discos */
    .t1 {
        text-align: center;
        font-size: 30px;
    }
    .t {
        font-size: 50px;
    }
    .p-4 h5{
        text-align: center;
    }
    .main-discos h1{
        font-size: 4rem;
    }

    .t1 {
        text-align: center;
        font-size: 3vh;
    }
    .t {
        font-size: 4vh;
    }

    /* Galeria */
    .main-galery h1 {
        display: flex;
        color: #FC4E03;
        font-family: 'Bowlby One SC', cursive;
        font-size: 10vw;
        justify-content: center ;
    }
    
    .main-galery p {
        color:white;
        font-family: 'Bowlby One SC', cursive;
        font-size: 3vw;
        display: flex;
        justify-content: center ;
    }
}

@media only screen and (max-width : 695px) {
    
    .navbar a {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
    }

    .p-main p {
        text-align: center;
        color:white;
        font-size: 5vw;
        height: 380px;
        width: 580px;
        padding: 0;
    
    }

}

@media only screen and (max-width : 545px) {
    
    .navbar a {
        font-size: .9rem;
        display: flex;
        justify-content: center;
    }

    .navbar-logo img{
        display: flex;
        padding: 0px;
        justify-content: center;
        height: 3em;
    }

    .main-discos h1{
        font-size: 4rem;
    }
    .icons-social-container{
        display: none;
    }

    .main-galery h1 {
        display: flex;
        color: #FC4E03;
        font-family: 'Bowlby One SC', cursive;
        font-size: 10vw;
        justify-content: center ;
    }
    
    .main-galery p {
        color:white;
        font-family: 'Bowlby One SC', cursive;
        font-size: 3vw;
        display: flex;
        justify-content: center ;
}

}


@media only screen and (max-width : 390px) {
    
    .navbar a {
        font-size: .6em;
        display: flex;
        justify-content: center;
    }

    .navbar-logo img{
        display: flex;
        padding: 0px;
        justify-content: center;
        height: 3em;
    }

    .main-discos h1{
        font-size: 5vh;
    }

    
    .t1 {
        text-align: center;
        font-size: 2vh;
    }
    .t {
        font-size: 3vh;
    }
    .p-4 h5{
        text-align: center;
    }

    .main-galery p {
        color:white;
        font-family: 'Bowlby One SC', cursive;
        font-size: 4vw;
        display: flex;
        justify-content: center ;
    }
}