/* index */
img {
    max-width: 100%;
}

.navbar a:hover {
    color: orange;
    transition: 0.3s;
    transform: scale(1.06);
}

.navbar img:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.body-menu {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/image\ 6.png);
    background-size: cover;
    background-attachment: fixed;
}

.body-galeria {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/image\ 6.png);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.p-main {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 88%;
    padding: 5% 0 5% 5%;
}

.p-main p {
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-weight: bolder;
    text-align: start;
    color: #FFFFFF;
    text-shadow: #000 20px 10px 5px;
    font-size: 35px;
    height: auto;
    width: auto;
    padding-left: 0px;
}

.p-main img {
    width: 30%;
    padding-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1 {
    margin-bottom: 4%;
}

.section-1 h1 {
    padding-top: 240px;
    padding-left: 115px;
    color: #FC4E03;
    font-family: 'Bowlby One SC', cursive;
    font-size: 120px;
}

.section-1 h2 {
    display: none;
}

.image-scroll {
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-y: hidden;

}

.section-2 img:hover {

    transform: scale(1.06);
    transition: .12s;

}

.elemento {
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: auto;
    margin: 0;
    width: auto;
    height: 300px;
    padding-bottom: 10px;
}

.spotify-widget {
    display: flex;
    justify-content: space-evenly;

    padding-top: 100px;
    padding-bottom: 100px;
}

.spotify-widget-mobile {
    display: none;
}

footer {
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 25px;

}

footer p {
    color: #FFFFFF;
    font-family: sans-serif;
    padding-right: 1em;
}

.footer-logo {
    padding-bottom: 5px;
    height: 60px;
    margin-bottom: 16px;
    padding-left: 1em;
}

.aser {
    display: flex;
    height: 60px;
    width: 341px;

}

.social-ico {
    color: #FFFFFF;
}

.icons-social-container {
    font-weight: bolder;
    display: inline-block;
    padding-bottom: 1em;
}
.icons-social-container a { 
    font-size: 1.8em;
}

/* Discos */
.body-discos {
    background-image: linear-gradient(rgba(0, 0, 0, 1),
            rgba(0, 0, 0, 0.5)), url(../img/image\ 7.png);
    background-size: cover;
    background-attachment: fixed;
}

.main-discos h1 {
    display: flex;
    justify-content: center;
    color: #FC4E03;
    font-family: 'Bowlby One SC', cursive;
    font-size: 120px;
    padding: 60px 0 60px 0px;
}

.main-discos_portada img {
    padding: 15px;
}


.body-info {
    background-image: linear-gradient(rgba(0, 0, 0, .87),
            rgba(0, 0, 0, .8)), url(../img/background-info.png);
    background-size: cover;
    background-attachment: fixed;
}

.main-info h1 {
    color: #fff;
    font-family: 'Bowlby One SC', cursive;
    font-size: 5vh;
    padding: 0px 0 30px;
}

.main-info p {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3vh;
    font-weight: 100;
}



.body-contacto {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/image\ 6.png);
    background-size: cover;
    background-attachment: fixed;
}

.main-inputs {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    padding-top: 50px;
    font-size: 1.2vw;
}

.main-inputs label {
    color: #FC4E03;
}

.main-contacto h1 {
    color: #FC4E03;
    font-family: 'Bowlby One SC', cursive;
    font-size: 60px;
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
    margin: 0px;
}

.main-contacto h2 {
    color: #c1c1c1;
    font-family: 'Bowlby One SC', cursive;
    font-size: 40px;
    display: flex;
    justify-content: flex-start;
    padding-left: 11%;
}

.container-contacto {
    display: flex;
    justify-content: space-around;
    margin: auto;

}

input[type=text] {
    width: 600px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 4px solid #FC4E03;
    background-image: url("../img/Rectangle\ 20.png");
    background-position: right;
    background-repeat: no-repeat;
    padding-left: 40px;
}

input[type=text]:focus {
    background-color: #ffb696;
    transition: .5s;
}

textarea:focus {
    background-color: #ffb696;
    transition: .5s;
}


textarea {
    width: 600px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    background-image: url("../img/Rectangle\ 20.png");
    background-position: right;
    background-repeat: no-repeat;
    border-bottom: 4px solid #FC4E03;
}

input[type=submit] {
    width: 200px;
    background-color: #FC4E03;
    color: #FFFFFF;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    margin: 10px 0px 0px 200px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #ff3300;
    transition: .4s;
}

input[type="date"] {
    display: none;
    color: #000;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border-bottom: 4px solid #FC4E03;
    background: #ecf0f1;
    padding: 5px;
    display: inline-block;
    visibility: visible;
}


.yt-iframe {
    padding-top: 3%;

}


.t {
    text-decoration: none;
    font-size: 35px;
    color: #FC4E03;
    font-family: 'Bowlby One SC', cursive;
    font-weight: 100;
}


.t1 {
    font-size: 1.2em;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #ecf0f1;

}

.ihover:hover {
    transform: scale(1.1);
    transition: .2s;

}


.main-galery h1 {
    display: flex;
    color: #FC4E03;
    font-family: 'Bowlby One SC', cursive;
    font-size: 100px;
    justify-content: center;
}

.main-galery p {
    color: #FFFFFF;
    font-family: 'Bowlby One SC', cursive;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.galeria__container {
    padding: 4em;
}


.p-4 h2 {
    padding-left: 0px;
}


.nav-item {
    font-size: 1.5rem;
}




.info {
    background: #171717;
}


.info h2 {
    color: #fff;
    font-family: 'Bowlby One SC', cursive;
    font-size: 4vh;
    padding-bottom: 1vh;
    padding-top: 2vh;
}

#container-div img {
    height: 100px;
    padding: 0px 0px 0px 50px;
}

#container-div a {
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: .15rem;
}

.logomobile {
    display: none;
}


@media only screen and (max-width : 860px) {

    /* index */
    .logo-p {
        display: none;
    }
    .section-1 {
        display: flex;
        flex-direction: column;
    }

    .logomobile {
        display: flex;
        margin: auto;
        width: 20vh;

    }

    .p-main img {
        display: none;
    }

    .p-main {
        display: flex;
        flex-direction: column;

    }

    .p-main p {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    .section-1 h1 {
        display: none;
    }

    .section-1 h2 {
        display: flex;
        justify-content: center;
        font-size: 10vw;
        color: #FC4E03;
        padding-top: 7vh;
    }

    .spotify-widget {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 40%;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .spotify-widget {
        display: none;
    }

    .spotify-widget-mobile {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }

    .spotify-widget-mobile iframe {
        padding-top: 20px;
    }

    /* footer */
    .aser {
        display: none;
        height: 60px;
        width: auto;

    }

    .icons-social-container p {
        display: none;
    }
    .icons-social-container {
        font-size: 2.4em;
        padding: 0;
        margin: auto;
        padding-right: 20% ;
    }
    .social-ico {
        max-width: 2px;
    }

    .footer-m p {
        font-size: 10px;
    }

    /* Discos */
    .t1 {
        text-align: center;
        font-size: 30px;
    }

    .t {
        font-size: 50px;
    }

    .p-4 h2 {
        text-align: center;
    }

    .main-discos h1 {
        font-size: 4rem;
    }

    .t1 {
        text-align: center;
        font-size: 3vh;
    }

    .t {
        font-size: 4vh;
    }

    /* Galeria */
    .main-galery h1 {
        display: flex;
        color: #FC4E03;
        font-family: 'Bowlby One SC', cursive;
        font-size: 10vw;
        justify-content: center;
    }

    .main-galery p {
        color: #FFFFFF;
        font-family: 'Bowlby One SC', cursive;
        font-size: 3vw;
        display: flex;
        justify-content: center;
        margin: auto;
        align-items: center;
    }


    /* Contacto */

    .main-contacto {
        display: flex;
        flex-direction: column;
    }


    .container-contacto {
        display: flex;
        flex-direction: column;
    }

    .main-contacto h1 {
        color: #FC4E03;
        font-family: 'Bowlby One SC', cursive;
        font-size: 2.2em;
        display: flex;
        justify-content: flex-start;
        padding-left: 10%;
        margin: 0px;
    }

    .main-contacto h2 {
        color: #c1c1c1;
        font-family: 'Bowlby One SC', cursive;
        font-size: 1.2em;
        display: flex;
        justify-content: flex-start;
        padding-left: 11%;
    }

    .yt-iframe {
        display: none;
    }



    .main-inputs {
        padding: 10px;
        margin: auto;
        display: flex;
        justify-content: center;
        font-size: 1.4vh;
    }

    .main-inputs label {
        font-size: 2vh;
        padding: 6px;
    }

    input[type=text] {
        width: 90vw;
    }

    textarea {
        width: 90vw;
    }

    input[type=submit] {
        display: flex;
        width: 40%;
        justify-content: center;
        margin: auto;
        margin-top: 20px;

    }


    input[type="date"] {
        font-size: 13px;
    }

    .footer-m {
        display: flex;
        align-items: flex-end;
        margin: auto;
    }
}

@media only screen and (max-width : 440px) {
    .icons-social-container {
        font-size: 2.3em;
        padding: 0;
        margin: auto;
        padding-right: 0% ;
    }
    .footer-m p {
        display: none;
    }
}